<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="./src/style/style.css">
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.min.js"></script>
    <script src="./src/libs/tone.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
    <div id="canvas-container"></div>
</body>

<script src="./src/js/res/synthconfigs.js"></script>
<script src="./src/js/res/constants.js"></script>
<script src="./src/js/animation.js"></script>
<script src="./src/js/classes.js"></script>
<script src="./src/js/sketch.js"></script>

</html>



