body {
    margin: 0;
}

.myButton {
    background-color:#ffa545;
    border-radius:10px;
    border: 0px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    /*font-family:Arial;*/
    font-size:15px;

    padding:7px 31px;
    text-decoration:none;
    outline: none;
}

.myButton:hover {
    background-color:#ff5500;
}

.myButton:active {
    position:relative;
    top:1px;
}

/*------------------------*/

input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #ff5500;
    margin-top: -7px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #ff5500;
    margin-top: -7px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ffa545;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    background: #ffa545;
    height: 5px;
}